.nav-design {
  font-family: "Bangers", cursive;
  font-family: "Darumadrop One", cursive;
}

.simple-text {
  font-family: "Bangers", cursive;
  font-family: "Oswald", sans-serif;
}

.robo{
  font-family: 'Bangers', cursive;
font-family: 'Smokum', cursive;
}

.nav-link-a{
  font-family: 'Bangers', cursive;
font-family: 'Lilita One', cursive;
font-family: 'Smokum', cursive;
}

@media (max-width: 576px) {
  .nav-btn {
    padding: 0;
    color: bisque;
    font-size: 10px;
  }
  .nav-heading {
    font-size: 10px;
  }
}
